<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Module\Test\Controller\Index\Index $block */
?>
<table border="solid">
    <tr>
        <th>Entity Id</th>
        <th>Title</th>
        <th>Address</th>
        <th>Scheduled</th>
    </tr>

    <?php
    $collection = $block->getResult();
    foreach($collection as $item){
    ?>
    <tr>
        <td><?php echo $item->getData('entity_id'); ?></td>
        <td><?php echo $item->getData('title'); ?></td>
		<td><?php echo $item->getData('address'); ?></td>
        <td><?php echo $item->getData('schedule'); ?></td>
        <td><a href="<?php echo $block->getUrl('testing/index/edit').'id/'.$item->getData('entity_id'); ?>" class="action primary">Edit</a></td>
        <td><a href="<?php echo $block->getUrl('testing/index/delete').'?id='.$item->getData('entity_id'); ?>" class="action primary">Delete</a></td>
	</tr>
	<?php } ?>
</table>
<a  href=" <?php echo $block->getUrl('testing/index/insert');?> " class="action primary">Add Record</a>
