<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Module\Test\Controller\Index\Insert $block */
?>

<table border="solid">
    <tr>
        <th>Entity Id</th>
        <th>Title</th>
        <th>Address</th>
        <th>Scheduled</th>
    </tr>

    <?php
    $record = $block->getEditRecord();
    ?>
        <tr>
            <td><input type="text"/><?php echo $record->getData('entity_id'); ?></td>
            <td><input type="text"/><?php echo $record->getData('title'); ?></td>
            <td><input type="text"/><?php echo $record->getData('address'); ?></td>
            <td><input type="text"/><?php echo $record->getData('schedule'); ?></td>
        </tr>
</table>
